body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
}

.content {
  display: flex;
  flex: 1;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar time! */
.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;

}

/* Card and group of cards styling */
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 400px;
  padding: 15px;
}

.cards {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}